{% extends "master.html" %}

{% block title %}
Listado de Edificios y Departamentos
{% endblock %}

{% block content %}
<h3>Edificios: {{ numero_edificios }}</h3>

<table id="tabla_edificios">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    {% for edificio in edificios %}
    <tr>
      <td>{{ edificio.nombre }}</td>
      <td>{{ edificio.direccion }}</td>
      <td>{{ edificio.ciudad }}</td>
      <td>{{ edificio.tipo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Departamentos: {{ numero_departamentos }}</h3>

<table id="tabla_departamentos">
  <thead>
    <tr>
      <th>Propietario</th>
      <th>Costo</th>
      <th>Cuartos</th>
      <th>Edificio</th>
    </tr>
  </thead>
  <tbody>
    {% for departamento in departamentos %}
    <tr>
      <td>{{ departamento.nombre_propietario }}</td>
      <td>{{ departamento.costo_departamento }}</td>
      <td>{{ departamento.numero_cuartos }}</td>
      <td>{{ departamento.edificio }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}